@use '../../styles/variables';

.task-card-container {
    position: relative;
    width: 302px;
    height: 157px;
    margin: 15px;
    border: 1px solid variables.$grey-2;
    border-radius: variables.$radius-10;
    cursor: pointer;
    transition: variables.$transition;

    .cover {
        width: 303px;
        height: 130px;
    }

    &:hover {
        box-shadow: 0 4px 16px 2px rgba(0, 26, 52, .16);
        border: 1px solid white;
        transform: translateY(2px);
    }

    .task-card-wrapper {
        width: 262px;
        height: 117px;
        margin: 20px;

        .title {
            @extend %font-18px-medium;
            margin-bottom: 10px;
        }

        .description {
            margin-bottom: 30px;
            color: variables.$grey-2;
        }

        .info-bar {
            @extend %flex-center;
            justify-content: flex-start;
            color: variables.$grey-2;

            .priority {
                @extend %flex-center;
                margin-right: 20px
            }

            .deadline {
                @extend %flex-center;
                margin-right: 20px;

                .deadline-icon {
                    margin-right: 5px;
                }
            }

            .files {
                @extend %flex-center;

                .files-icon {
                    margin-right: 5px;
                }
            }

            .burger-menu {
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }
}

.priority-high {
    @extend %priority-high;
}

.priority-med {
    @extend %priority-med;
}

.priority-low {
    @extend %priority-low;
}