@use '../../styles/variables';

.project-nav {
    height: 40px;

    .project-nav-list {
        display: flex;

        .icon-wrapper {}

        .nav-item {
            cursor: pointer;
            width: 156px;
            height: 45px;
            box-sizing: border-box;
            @extend %flex-center;
            color: variables.$grey-2;
            transition: variables.$transition;
            // @extend %icon-color-grey;

            &:hover {
                border-bottom: 3px solid black;
                color: variables.$black;
                @extend %svg-grey;
            }
        }

        .active {
            border-bottom: 3px solid black;
            color: variables.$black;
            @extend %svg-grey;
        }
    }
}