@use '../../../styles/variables';

.progress-bar-wrapper {
    @extend %flex-center;
    column-gap: 10px;

    &>:last-child {
        color: variables.$grey-3;
    }

    .progress-bar-fill {
        width: 480px;
        height: 7px;
        border-radius: variables.$radius-10;
        background: variables.$grey-2;
    }

    .progress-bar-progress {
        height: 7px;
        background: variables.$blue-1;
        border-radius: variables.$radius-10;
    }
}