@use '../../../styles/variables';

.drop-down-item {
    flex: 1;

    .buttons-list {
        display: flex;
        column-gap: 10px;
        margin-bottom: 10px;

        .button-sidebar-item {
            width: 100%;
            height: 40px;
            border-radius: variables.$radius-10;
            padding-inline: 15px;
            justify-content: start;
            column-gap: 10px;
            transition: variables.$transition;
            @extend %flex-center, %button-grey;
        }

        .button-add {
            @extend %button-square-40, %button-blue;
        }
    }

    .separator {
        margin-block: 10px;
        border: 1px solid variables.$grey-2;
        border-radius: 5px;
    }

    .drop-down-menu {
        display: none;

        .drop-down-menu__inner {
            height: 200px;
            overflow: auto;
            margin-bottom: 10px;
        }
    }

    .drop-down-menu.active {
        display: flex;
        flex-direction: column;
    }
}