@use '../../styles/variables';

.project-card-container {
    width: 332px;
    height: 181px;
    padding: 20px;
    border: 1px solid variables.$grey-2;
    border-radius: variables.$radius-10;
    color: variables.$grey-2;
    position: relative;
    cursor: pointer;
    transition: variables.$transition;

    .project-card-wrapper {
        width: 282px;
        height: 141px;

        .title {
            @extend %font-18px-medium;
            color: black;
            margin-bottom: 10px;
        }

        .description {
            min-height: 38.4px;
            margin-bottom: 20px;
        }

        .progress-bar {
            display: flex;
            justify-content: start;
            margin-bottom: 22px;
        }

        // .creation-date {}

        .btn-delete {
            display: none;
            position: absolute;
            top: 20px;
            right: 20px;

            .svg-trash:hover {
                @extend %svg-grey;
            }
        }

        .favourites {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }


    &:hover {
        box-shadow: 0 4px 16px 2px rgba(0, 26, 52, .16);
        border: 1px solid white;
        transform: translateY(2px);
    }

    &:hover>.project-card-wrapper>.btn-delete {
        display: block;
    }
}