@use '../../../styles/variables';

.filter-container {
    display: flex;
    align-items: center;
    column-gap: 10px;

    .input-search {
        width: 100%;
        height: 28px;
        padding-inline: 8px;
        color: #464646;
        border: none;
        border: 1px solid variables.$grey-2;
        border-radius: 8px;
        @extend %font-12px-medium;

        &:focus {
            @extend %focus;
        }
    }

    .button-filter {
        @extend %button-square-28, %button-grey;
    }
}