@use '../../../styles/variables';

.info-bar {
    display: flex;
    justify-content: space-between;
    @extend %font-18px-medium;

    .priority-container {
        .priority-value-wrapper {
            display: flex;
            margin-top: 10px;
            @extend %font-16px-regular;
            color: variables.$grey-3;
        }
    }

    .creation-date-container {
        .creation-date-value {
            margin-top: 10px;
            @extend %font-16px-regular;
            color: variables.$grey-3;
        }
    }

    .deadline-container {
        .deadline-value {
            margin-top: 10px;
            @extend %font-16px-regular;
            color: variables.$grey-3;
        }

    }

    .files-container {
        .files-wrapper {
            display: flex;
            margin-top: 10px;
            @extend %font-16px-regular;
            color: variables.$grey-3;

            .attach-files-icon {
                margin-right: 10px;
            }

            .buttons-wrapper {
                display: flex;
                margin-left: 30px;
                transition: variables.$transition;

                .download-file-button {
                    &:hover {
                        @extend %svg-grey;
                    }
                }

                .delete-button {
                    width: 17px;
                    height: 17px;

                    &:hover {
                        @extend %svg-grey;
                    }
                }
            }
        }
    }
}

.priority-high {
    @extend %priority-high;
}

.priority-med {
    @extend %priority-med;
}

.priority-low {
    @extend %priority-low;
}