@use '../../styles/variables';

.column {

    &__inner {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 100%;
        background: variables.$grey-1;
        border-radius: variables.$radius-10;

        .header {
            position: relative;
            height: 40px;
            padding-inline: 15px;
            display: flex;
            justify-content: space-between;
            @extend %font-18px-medium;
            color: variables.$grey-4;
            user-select: none;
            // cursor: grab;

            .header-bar {
                display: flex;
                align-items: center;
                column-gap: 10px;

                .column-type-button {
                    @extend %button-square-40;
                }

                .column-info {
                    display: flex;
                    align-items: baseline;
                    column-gap: 10px;

                    // .title {}

                    .title-input {
                        height: 28px;
                        min-width: 100px;
                        max-width: 150px;
                        color: variables.$grey-4;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        padding-inline: 10px;
                        border-radius: 8px;
                        outline-color: variables.$blue-2;
                        font-family: 'inter', sans-serif;
                        @extend %font-18px-medium;
                    }

                    .tasks-count {
                        color: variables.$grey-3;
                        @extend %font-16px-regular;
                    }
                }
            }

            .button-delete {
                @extend %button-square-40;

                &:hover {
                    @extend %svg-grey;
                }
            }
        }

        .tasks-list {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            flex: 1;
            padding: 0 15px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}

.button-add {
    margin: 15px;
    background: variables.$grey-1;
    border: 1px solid variables.$grey-2;
    color: variables.$grey-3;

    &>:first-child>path {
        fill: variables.$grey-3;
    }

    &:hover,
    &:hover>:first-child>path {
        color: variables.$white;
        background: variables.$blue-1;
        fill: variables.$white;
    }

    @extend %button-rectangle;
}