@use '../../styles/variables';

aside {
    width: 250px;
    min-height: 100%;
    border-right: 1px solid #D9D9D9;
}

.logo-container {
    user-select: none;

    .logo-wrapper {
        @extend %element-position-center;
        column-gap: 10px;
        color: variables.$color-dark-grey;

        h1 {
            font-size: 24px;
            font-weight: 700;
        }

        .logo-icon {
            flex-shrink: 0;
        }
    }
}