$main-radius: 10px;
$modal-window-radius: 20px;

$margin-menu-elements: 10px;
$transition-time: all 100ms;

$color-white: white;
$color-dark-grey: #464646;
$color-light-grey: #9C9C9C;
$color-black: black;
$color-blue: #5E9EFF;
$color-light-red: #FF7474;

%square-button-size {
    width: 45px;
    height: 45px;
}

%rectangle-button-size {
    width: 156px;
    height: 45px;
}

%element-position-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%font-20px-semibold {
    font-size: 20px;
    font-weight: 600;
}

%font-18px-semibold {
    font-size: 18px;
    font-weight: 600;
}

%font-18px-medium {
    font-size: 18px;
    font-weight: 500;
}

%font-16px-medium {
    font-size: 16px;
    font-weight: 500;
}

%font-16px-regular {
    font-size: 16px;
    font-weight: 400;
}

%font-14px-medium {
    font-size: 14px;
    font-weight: 500;
}

%font-14px-regular {
    font-size: 14px;
    font-weight: 400;
}

%icon-color-black {
    path {
        fill: $color-black;
    }
}

%icon-color-grey {
    path {
        fill: $color-light-grey;
    }
}

%icon-color-white {
    path {
        fill: $color-white;
    }
}

%priority-high {
    width: 17px;
    height: 17px;
    border: 1.5px solid #FF0000;
    border-radius: 10px;
    margin-right: 5px;
}

%priority-med {
    width: 17px;
    height: 17px;
    border: 1.5px solid #FAFF00;
    border-radius: 10px;
    margin-right: 5px;
}

%priority-low {
    width: 17px;
    height: 17px;
    border: 1.5px solid #00FF47;
    border-radius: 10px;
    margin-right: 5px;
}