$radius-10: 10px;
$radius-20: 20px;

$transition: background-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

$white: white;
$black: black;
$grey-1: #F6F6F6;
$grey-2: #D9D9D9;
$grey-3: #9C9C9C;
$grey-4: #464646;
$blue-1: #5E9EFF;
$blue-2: #7EB1FF;
$red-1: #FF0000;
$red-2: #FF7474;

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%font-24px-medium {
    font-size: 24px;
    font-weight: 500;
}

%font-20px-medium {
    font-size: 20px;
    font-weight: 500;
}

%font-18px-medium {
    font-size: 18px;
    font-weight: 500;
}

%font-16px-medium {
    font-size: 16px;
    font-weight: 500;
}

%font-16px-regular {
    font-size: 16px;
    font-weight: 400;
}

%font-14px-medium {
    font-size: 14px;
    font-weight: 500;
}

%font-12px-medium {
    font-size: 12px;
    font-weight: 500;
}

%focus {
    outline: 2px solid $blue-2;
}

%button-square-40 {
    min-width: 40px;
    min-height: 40px;
    height: 40px;
    border-radius: $radius-10;
}

%button-square-28 {
    min-width: 28px;
    min-height: 28px;
    height: 28px;
    border-radius: 5px;
}

%button-rectangle {
    min-height: 40px;
    border-radius: $radius-10;
    padding-inline: 15px;
}

%button-blue {
    background: $blue-1;
    color: $white;

    &:hover {
        background: $blue-2;
    }
}

%button-grey {
    background: none;
    color: $grey-3;

    &:hover {
        border: none;
        background: $grey-1;
        color: $grey-4;
        @extend %svg-grey;
    }
}

%active-link {
    background: $grey-1;

    path {
        fill: $grey-4;
    }

    &>span {
        color: $grey-4;
    }
}

%svg-grey {
    path {
        fill: $grey-4;
    }
}

%svg-white {
    path {
        fill: $white;
    }
}

%priority-high {
    width: 17px;
    height: 17px;
    border: 1.5px solid #FF0000;
    border-radius: 10px;
    margin-right: 5px;
}

%priority-med {
    width: 17px;
    height: 17px;
    border: 1.5px solid #FAFF00;
    border-radius: 10px;
    margin-right: 5px;
}

%priority-low {
    width: 17px;
    height: 17px;
    border: 1.5px solid #00FF47;
    border-radius: 10px;
    margin-right: 5px;
}