@use '../../../styles/variables';

.button {
    border: none;
    background: none;
    @extend %flex-center;
    column-gap: 10px;
    transition: variables.$transition;
    cursor: pointer;
    @extend %font-16px-medium;

    &:focus-visible {
        outline: 2px solid variables.$blue-2;
        outline-offset: -2px;
    }
}