@use '../../../styles/variables';

%upload-icon-style {
    @extend %icon-color-black;
    margin-right: 10px;
    width: 17px;
    height: 17px;
}

%upload-label-style {
    display: flex;
    align-items: center;
    color: variables.$color-dark-grey;
    cursor: pointer;

    &:hover {
        @extend %icon-color-grey;
        color: variables.$color-light-grey;
    }
}

.advanced-settings-container {
    display: flex;
    margin-bottom: 20px;
}

.info-block-container {
    width: 242px;
    height: 156px;
    border: 1px solid variables.$color-light-grey;
    border-radius: 10px;
    margin-right: 30px;

    .info-block-wrapper {
        @extend %font-16px-medium;
        color: variables.$color-dark-grey;
        padding: 20px 25px;
        transition: all 100ms;
    }
}

.priority-wrapper {
    height: 45px;
    margin-bottom: 20px;

    .priority-title {
        margin-bottom: 10px;
    }

    .radio-group-wrapper {
        display: flex;
        justify-content: space-between;
        @extend %font-14px-medium;
        color: variables.$color-light-grey;

        // .form-radio-low {
        //     @extend %element-position-center;
        // }

        .label-radio {
            display: flex;
            align-items: center;
            // margin-right: 15px;
            accent-color: variables.$color-dark-grey;
            cursor: pointer;

            .input-radio+span {
                padding-left: 5px;
            }

            &:hover {
                color: variables.$color-dark-grey;
                accent-color: variables.$color-dark-grey;
            }
        }

        .input-radio {
            width: 15px;
            height: 15px;
            cursor: pointer;

            &:focus {
                outline-offset: 0;
            }

            &:checked~span {
                color: variables.$color-dark-grey;
            }

            &:hover {
                border-color: variables.$color-dark-grey;
                background: red;
            }
        }
    }
}

.deadline-wrapper {
    height: 45px;

    .deadline-title {
        margin-bottom: 10px;
    }

    .deadline-input {
        border: none;
        font-family: 'inter', 'sans-serif';
        @extend %font-14px-medium;
        color: variables.$color-light-grey;
        // width: 100%;

        &:focus-within::-webkit-datetime-edit {
            color: variables.$color-dark-grey;
        }

        &::-webkit-calendar-picker-indicator {
            cursor: pointer;
            opacity: 0.4;
        }

        &::-webkit-calendar-picker-indicator:hover {
            opacity: 0.7
        }
    }
}

.files-block-container {
    min-width: 242px;
    border: 1px solid variables.$color-light-grey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .label-file {
        @extend %upload-label-style;
    }

    .upload-icon {
        @extend %upload-icon-style;
    }

    .files-block-wrapper {
        display: flex;
        // align-items: center;
        // flex-direction: column;
        // padding: 20px 20px;
    }

    input[type="file"] {
        display: none;
    }
}

.upload-file-wrapper {
    width: 240px;
    padding: 0 20px;
    overflow: hidden;
    text-align: center;
}

.uploaded-file {
    display: flex;
    align-items: center;
}

.uploaded-file-name {
    width: inherit;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    margin: 5px 5px 5px 0;
    @extend %font-14px-medium;
    color: variables.$color-light-grey;
}

.delete-icon {
    width: 15px;
    height: 15px;
    @extend %icon-color-grey;

    &:hover {
        @extend %icon-color-black;
    }
}