@use '../../styles/variables';

%mark-style {
    position: absolute;
    left: 15px;
    width: 21px;
    height: 21px;
    border-radius: variables.$radius-10;
}

.boards-container {
    width: 100%;
    height: calc(100% - 105px);
    overflow: auto;
    // @extend %flex-center;
    display: flex;
    padding-inline: 20px;
    column-gap: 20px;

    .board-container {
        width: 332px;
        height: 100%;
        position: relative;

        .board-header {
            width: 332px;
            height: 45px;
            @extend %flex-center;
            position: fixed;
            z-index: 100;

            .mark-to-do {
                @extend %mark-style;
                background: #E67046;
            }

            .mark-in-progress {
                @extend %mark-style;
                background: #FFB72C;
            }

            .mark-done {
                @extend %mark-style;
                background: #1C9C75;
            }

            .board-title {
                @extend %font-18px-medium;
            }
        }

        .board-wrapper {
            border: 1px solid variables.$grey-2;
            border-radius: variables.$radius-10;
            width: 100%;
            margin-top: 45px;
            // height: 663px;
            overflow: auto;
            scrollbar-width: none;

            // .tasks-list-wrapper {}
        }
    }
}