@use '../../styles/variables';

.main-component-header {
    width: 100%;
    height: 105px;
    padding: 20px;
    box-sizing: border-box;
    @extend %element-position-center;
}

.project-info {
    width: 50%;
    height: 100%;
    //Сделать переменную в _variables
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.progress-bar-container {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.buttons-wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
}