@use '../../../styles/variables';

.task-modal {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.input-title {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    text-align: left;
    background: variables.$grey-1;
    border: 1px solid variables.$grey-2;
    padding-inline: 10px;
    @extend %font-16px-medium;

    &:focus {
        @extend %focus;
    }
}

.textarea-description {
    width: 100%;
    min-height: 100px;
    background: variables.$grey-1;
    border-radius: variables.$radius-10;
    border-color: variables.$grey-2;
    padding: 10px;
    resize: none;

    font-family: "inter", "sans-serif";
    @extend %font-16px-medium;

    &:focus {
        @extend %focus;
    }
}

.error-message {
    margin: 5px 0 0 15px;
    color: variables.$red-1;
    @extend %font-14px-medium;
}

.priority-block {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding-inline: 10px;
    border-radius: variables.$radius-10;

    &>span {
        @extend %font-14px-medium;
        color: variables.$grey-4;
    }

    .radios {
        display: flex;
        column-gap: 15px;
        align-items: center;

        .radio {
            position: relative;

            .input-radio {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
            }

            .label-radio {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                cursor: pointer;
            }

            .radio-items {
                height: 40px;
                border: 1px solid variables.$grey-2;
                border-radius: variables.$radius-10;
                @extend %flex-center;
                padding-inline: 10px;
                column-gap: 5px;

                &>.dote {
                    min-width: 15px;
                    min-height: 15px;
                    border-radius: 100%;
                    background: variables.$grey-2;
                    border-color: variables.$white;
                }

                &>span {
                    color: variables.$grey-3;
                }
            }

            .input-radio:focus~.radio-items {
                @extend %focus;
            }

            .input-radio:checked~.radio-items {
                border-color: transparent;
                transition: background-color 200ms ease-in-out;

                &>span {
                    color: variables.$white;
                    transition: color 200ms ease-in-out;
                }
            }

            .input-radio:checked~.radio-items>.dote {
                border: 4px solid variables.$white;
                transition: background-color 200ms ease-in-out, border 200ms ease-in-out;
            }

            .input-radio:checked~.radio-items__low,
            .input-radio:checked~.radio-items__low>.dote__low {
                background: variables.$green;
            }

            .input-radio:checked~.radio-items__med,
            .input-radio:checked~.radio-items__med>.dote__med {
                background: variables.$yellow;
            }

            .input-radio:checked~.radio-items__high,
            .input-radio:checked~.radio-items__high>.dote__high {
                background: variables.$red-1;
            }
        }
    }
}

.dates-block {
    width: 100%;
    display: flex;
    column-gap: 30px;
    padding-inline: 10px;
    @extend %font-14px-medium;
    color: variables.$grey-4;

    &>.label-date {
        display: flex;
        align-items: center;
        column-gap: 15px;

        &>input[type=date] {
            height: 40px;
            padding-inline: 10px;
            border-radius: variables.$radius-10;
            border: 1px solid variables.$grey-2;
            color: variables.$grey-3;
            font-family: 'inter', sans-serif;

            &:focus {
                outline-color: variables.$blue-2;
                color: variables.$grey-4;
            }
        }
    }

    ::-webkit-calendar-picker-indicator {
        filter: opacity(0.3);
    }
}

.file-block {
    height: 150px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.drop-files {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: variables.$grey-1;
    border-radius: variables.$radius-10;
    padding: 30px;

    &__inner {
        width: 100%;
        height: 100%;
        border: 2px dashed variables.$grey-3;
        border-radius: variables.$radius-10;
        @extend %flex-center;

        .drop-files-title {
            text-align: center;
            color: variables.$grey-3;

            &>:first-child {
                height: 150px;
                width: 150px;

                path {
                    stroke: variables.$grey-3;
                    transition: stroke 150ms ease-in;
                }
            }

            p {
                @extend %font-24px-medium;
            }
        }
    }
}

.file-input {
    position: relative;
    min-height: 150px;
    padding: 15px;
    background: variables.$grey-1;
    border-radius: variables.$radius-10;
    outline: 2px dashed variables.$grey-2;
    outline-offset: -2px;
    @extend %flex-center;

    &:hover {
        outline-color: variables.$grey-3;
        transition: outline-color 150ms ease-in;

        .file-input-title {
            color: variables.$grey-4;
            transition: color 150ms ease-in;

            &>:first-child {
                path {
                    stroke: variables.$grey-4;
                    transition: stroke 150ms ease-in;
                }
            }
        }
    }

    .file-input-title {
        @extend %flex-center;
        flex-direction: column;
        color: variables.$grey-3;
        font-weight: 500;
    }

    & input[type=file] {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .label-file {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
        border-radius: variables.$radius-10;
    }

    input[type=file]:focus+.label-file {
        @extend %focus;
    }
}

.files-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 15px;
    margin-top: 20px;
    border-radius: variables.$radius-10;
    background: variables.$grey-1;

    .file-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 10px;
        width: 100%;
        height: 40px;
        border: 1px solid variables.$grey-2;
        border-radius: variables.$radius-10;
        background: variables.$white;

        &>p {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            @extend %font-14px-medium;
        }

        .button-delete {
            @extend %button-square-28;

            &:hover>:first-child {
                @extend %svg-grey;
            }
        }
    }
}