@use '../../styles/variables';

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, .5);
    @extend %flex-center;

    .modal-window {

        &__inner {
            padding: 30px;
            background: variables.$white;
            border-radius: variables.$radius-20;
            box-shadow: 0 4px 16px 2px rgba(0, 26, 52, .16);
            position: relative;
            z-index: 2;

            .cross-close {
                position: absolute;
                top: 10px;
                right: 10px;
                @extend %button-square-40;

                &:hover {
                    @extend %svg-grey;
                }
            }
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        .form__items {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .title {
                color: variables.$grey-4;
                @extend %font-18px-medium;
            }

            .input-title {
                height: 40px;
                border-radius: 10px;
                border: 1px solid variables.$grey-2;
                padding: 10px;
                @extend %font-16px-medium;

                &:focus {
                    @extend %focus;
                }
            }

            .textarea-description {
                width: 514px;
                height: 135px;
                border-radius: variables.$radius-10;
                border-color: variables.$grey-2;
                padding: 10px;
                resize: none;
                font-family: "inter", "sans-serif";
                @extend %font-16px-medium;

                &:focus {
                    @extend %focus;
                }
            }
        }
    }

    .form__buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 30px;

        @extend %font-16px-medium;

        .button {
            width: 100%;
            height: 40px;
            border-radius: variables.$radius-10;

            &__create {
                @extend %button-blue;
            }

            &__cancel {
                width: 100%;
                height: 40px;
                border-radius: variables.$radius-10;
                border: 1px solid variables.$grey-2;
                // color: variables.$grey-3;
                cursor: pointer;
                transition: variables.$transition;
                @extend %font-16px-medium, %button-grey;
            }
        }
    }
}