@use '../../styles/variables';

.board-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .board-header {
        display: flex;
        align-items: center;
        column-gap: 20px;

        .action-buttons {
            display: flex;
            column-gap: 10px;

            .button-filter {
                @extend %button-rectangle, %button-grey;
            }

            .button-files {
                @extend %button-rectangle, %button-grey;
            }
        }
    }

    .columns {
        position: relative;
        height: 100%;

        &__inner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            display: flex;
            column-gap: 25px;
            overflow-x: auto;
            padding-block-end: 10px;
        }

    }
}