@use '../../styles/variables';

.board-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .board-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;

        .action-buttons {
            display: flex;
            column-gap: 10px;

            .button-filter {
                @extend %button-rectangle, %button-grey;
            }

            .button-add {
                @extend %button-rectangle, %button-blue;
            }
        }

    }

    .columns {
        display: flex;
        column-gap: 25px;
        overflow-x: auto;
        padding-block-end: 10px;
    }
}