@use '../../../styles/variables';

.sidebar {

    &__inner {
        width: 100%;
        height: calc(100% - 30px);
        margin-top: 30px;
        @extend %font-16px-medium;
        color: variables.$grey-3;

        .separator {
            border-radius: 5px;
            border: 1px solid variables.$grey-2;
            margin-block: 10px;
        }

        .exit {
            border: 1px solid variables.$grey-2;
            border-radius: variables.$radius-10;
            width: 100%;
            @extend %button-rectangle, %flex-center, %button-grey;
        }
    }
}