@use '../../../styles/variables';

.sidebar {
    height: 100%;

    &__inner {
        width: 100%;
        height: 100%;
        @extend %font-16px-medium;
        color: variables.$grey-3;

        .nav {
            display: flex;
            flex-direction: column;
            height: calc(100% - 60px);

            .drop-down-items {
                flex: 1;
                height: 100%;
                position: relative;

                &__inner {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    overflow-y: auto;
                }
            }

        }

        .exit-button-container {
            margin-inline: 15px;

            .exit {
                border: 1px solid variables.$grey-2;
                border-radius: variables.$radius-10;
                width: 100%;
                @extend %button-rectangle, %flex-center, %button-grey;
            }
        }

    }
}

.items-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .project-icon {
        min-width: 8px;
        height: 8px;
        border-radius: 100%;
    }
}

.items-list__links {
    margin-inline: 15px;
}

.separator {
    margin: 10px 15px;
    border: 1px solid variables.$grey-2;
    border-radius: 5px;
}