@use '../../styles/variables';

.project {
    &__inner {
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                @extend %font-24px-medium;
            }
        }

    }
}